[Unit]
Description=Achieve ShadowPlay-like functionality on Linux
After=graphical.target

[Service]
ExecStartPre=/usr/bin/xbindkeys -f "%h/.xbindkeysrc"
ExecStart=/usr/local/bin/shadowreplay
#Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
